@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

@layer utilities{
  .container{
    margin-inline: auto;
  }
}
@layer base{
  h1,h2,h3,h4,h5,h6{font-weight: bold;}
  h1 {
    font-size: 2em
  }

  h2 {
    font-size: 1.5em
  }

  h3 {
    font-size: 1.17em
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.67em;
  }
}
@theme{
  --color-rating:#ffc908;
  --color-main:#0aad0a;
  --color-light:#f0f3f2;
  --shadow-box:rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
  --breakpoint-2xl:1400px;
}
:root
{
 
    --font-family:'Encode Sans Expanded', sans-serif;
    
}
body{
  font-family: var(--font-family) !important;
}